header {
  background: linear-gradient(to right, #ffffff 60%, #272727 40%);
  @media (max-width: 768px) {
    background: linear-gradient(to bottom, #ffffff 60%, #272727 40%);
  }
}

.header {
  margin-bottom: 20px;
  .lng-control {
    position: absolute;
    gap: 10px;
    display: flex;
    top: 93%;

    button {
      font-family: "Futura PT";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;

      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #272727;
      @media (max-width: 768px) {
        color: #ffffff;
      }
    }
  }
  position: relative;

  &__item {
    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 100px;
    }
    margin-top: 300px;
    display: flex;
  }
  &__text {
    @media (max-width: 768px) {
      padding-bottom: 110px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__title {
    @media (max-width: 991.98px) {
      font-size: 55px;
      line-height: 65px;
    }
       @media (max-width: 500px) {
           font-size: 40px;
    }
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 71px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #272727;
  }
  &__btn {
    @media (max-width: 991.98px) {
      margin-left: 230px;
    }
    @media (max-width: 500px) {
             margin-top: 25px;
    margin-left: 120px;
    }
    position: relative;

    white-space: nowrap;

    margin-top: 50px;
    margin-left: 350px;
    cursor: pointer;

    &::before {
      content: ("");
      position: absolute;
      margin-left: -200px;
      margin-top: 7px;
      border: 1px solid #272727;
      position: absolute;
      display: inline-block;

      width: 130px;
      transition: all 0.3s ease 0s;
      @media (max-width: 991.98px) {
        width: 85px;
        margin-left: -120px;
      }
    }
  }
  &__product {
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    @media (max-width: 500px) {
      flex-direction: column;

      align-items: center;
      gap: 25px;
    }
    img {
      position: absolute;
      left: 51%;
      width: 25%;

      @media (max-width: 991.98px) {
        left: 75%;
      }
      @media (max-width: 768px) {
        position: static;
        width: 25%;
        height: 50%;
      }
    }
    &-text {
      @media (max-width: 1100px) {
        margin-top: 250px;
        margin-left: 170px;
      }
      @media (max-width: 991.98px) {
        margin-top: 150px;
        margin-left: 190px;
      }

      @media (max-width: 768px) {
        margin: 0;
        align-items: center;
      }
      margin-top: 300px;
      margin-left: 300px;

      
    }
  }
}
