.section__cards {
  margin-bottom: 20px;

  .cards {
    justify-content: center;
    display: flex;
    gap: 20px;

    @media (max-width: 1460px) {
      flex-wrap: wrap;
    }

    &__wrap {
 &.media-flex {
        @media (max-width: 1460px) {
          display: flex;
          gap: 20px;

        }
        @media (max-width: 1020px) {
          flex-wrap: wrap;
          justify-content: center;

        }


      }



      .card {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }


    .card {
      position: relative;
      &__ring {
        padding-top: 65px;
      }

      text-align: center;

      background: #ededed;
      width: 400px;
      height: 400px;
      flex-grow: 0;
  @media (max-width: 1460px) {
          width: 600px;

        }
        @media (max-width: 1300px) {
          width: 500px;

        }
        @media (max-width: 1020px) {
          width: 95vw;

      }
      &.active {
        background: url(../img/big-card.png)  50% / cover no-repeat;
        min-height: 820px;


        width: 600px;
            @media (max-width: 1300px) {
          width: 500px;

        }
        @media (max-width: 1020px) {
          width: 95vw;
          min-height: 400px;
           background: url(../img/necklace.png) 50% / cover no-repeat;

        }

      }

      &__text {

        position: absolute;
        bottom: 20px;
        left: 30px;
      }
      &__title {
        &.active {

          color: #ffffff;
          @media (max-width: 1020px) {
           color: #272727;

        }
        }
        color: #272727;
        text-align-last: left;
      }
      &__subtitle {
        &.active {
          @media (max-width: 1020px) {
           color: #c2c2c2;

        }

          color: #e7e7e7;
        }
        text-align-last: left;
      }
      &__prise {
        &.active {
          @media (max-width: 1020px) {
           color: #efc58b;

        }
          color: #efc58b;
        }
        margin: 0px;
        text-align-last: left;
      }
    }
  }
}
